.menu {
  border: 1px solid;
  margin-bottom: 12px;
  background: antiquewhite;
}

.book-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.book-card:hover {
  background: aliceblue;
}
