extends ../../../views/root

block content
  .container
    .row
      .col-md-12
        h1  Course create page
        hr
        form.form-create-course
          div.mb-3
            label(for='courseTitle') Course title
            input#courseTitle.form-control(type='text', placeholder='Course title')
          div.mb-3
            label(for='courseCategory') Category
            input#courseCategory.form-control(type='text', placeholder='Category Ref')
          div.mb-3
            button.btn.btn-success Save
