extends ../../../views/root

block globalNav
  //include ../../../views/partials/globalNav

block content
  .container
    .row
      .col-md-12
        h1.text-center= __('user.verify.fail.page.title', lang)
        p.text-center= __('user.verify.fail.page.subtitle', lang)
    .row.justify-content-md-center.align-items-center
      .col-md-6
        .alert.alert-danger= errorMessage
    .row
      .col-md-12
        p.mt-5.mb-3.text-muted.text-center © 2017-#{currentYear}
