extends ../../../views/root

block content
  .container
    .row
      .col-md-12
        h1 file create page
        hr
        form.form-create-file
          div.mb-3
            label(for='fileTitle') file title
            input#fileTitle.form-control(type='text', placeholder='file title')
          div.mb-3
            label(for='fileCategory') Category
            input#fileCategory.form-control(type='text', placeholder='Category Ref')
          div.mb-3
            button.btn.btn-success Save
